.train-board {
  background-color: darkgrey;
  width: 80%;
  margin-top: 2rem;
}

ul {
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
}

li {
  list-style: none;
  text-align: left;
}

.row-container {
  display: flex;
  justify-content: space-between;
}
