.train-board {
  background-color: darkgrey;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul {
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
}

li {
  list-style: none;
  text-align: left;
}

.row-container {
  display: flex;
  justify-content: space-between;
}

.row-data {
  width: 20%;
}

.row-data-info {
  width: 40%;
}

.row-data-delayed {
  width: 20%;
  color: red;
  text-decoration: line-through;
}

.header-data {
  color: yellow;
  font-weight: bold;
  width: 20%;
}

.header-data-info {
  color: yellow;
  font-weight: bold;
  width: 40%;
  padding-left: 2rem;
}

.board-title {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.refreshButton {
  border-radius: 6px;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin-top: 0.8rem;
  outline: none;
}
.refreshButton:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}
