.train-board {
  background-color: darkgrey;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul {
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
}

li {
  list-style: none;
  text-align: left;
}

.row-container {
  display: flex;
  justify-content: space-between;
}

.row-data {
  width: 20%;
}

.row-data-info {
  width: 40%;
}

.row-data-delayed {
  width: 20%;
  color: red;
  text-decoration: line-through;
}

.header-data {
  color: yellow;
  font-weight: bold;
  width: 20%;
}

.header-data-info {
  color: yellow;
  font-weight: bold;
  width: 40%;
}
